<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    {% include 'model-meta.html' %}
    <!-- Additional CSS -->
    <link rel="stylesheet" href="{% static 'auth/css/login.css' %}">
    <!-- Title -->
    <title>Login - Agenda Web</title>
</head>

<body>
    <main class="card shadow-lg p-4">
        <!-- Botão de Tema -->
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h4 class="m-0 fw-semibold">Agenda Web</h4>
            <button id="theme-toggle" class="btn btn-outline-secondary btn-sm" title="Alternar tema">
                <i id="theme-icon" class="bi bi-moon-fill"></i>
            </button>
        </div>

        <!-- Mensagens de Erro -->
        <div id="messages-container">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger py-2 d-flex align-items-center">
                <i class="bi bi-exclamation-triangle-fill me-2"></i>
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
        </div>

        <!-- Area de Login -->
        <form id="login-form" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Usuário</label>
                <input type="text" name="username" id="username" class="form-control" placeholder="Digite seu usuário"
                    required autofocus>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Senha</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Digite sua senha"
                    required>
            </div>
            <div class="d-grid gap-2 mt-4">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-box-arrow-in-right me-2"></i> Entrar
                </button>
                <p class="text-center mt-1">Não tem conta? <a class="" href="{% url 'signup' %}">Crie uma agora</a></p>
            </div>
        </form>
    </main>

    <!-- Script Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>