{% extends "model-page.html" %}
{% load static %}
{% block title %}<title>Agenda</title>{% endblock %}

{% block content %}
{% if data %}
<div class="row row-cols-1 row-cols-md-2 g-3" style="max-width: 35rem;">
    {% for event in data %}
    <div class="col">
        <div class="card shadow-sm h-100">
            <div class="card-header">{{ event.created_at }}</div>
            <div class="card-body">
                <h5 class="card-title">{{ event.title }}</h5>
                <p class="card-text text-muted">{{ event.description|default:"Sem descrição." }}</p>
            </div>
            <div class="card-footer text-body-secondary">
                <p class="text-end mb-0">
                    <small class="text-secondary">{{ event.event_date|date:"d/m/Y H:i"}}</small>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="alert alert-warning text-center">
    Nenhum evento cadastrado ainda 😔
</div>
{% endif %}
<div align="right">
    <a href="/logout">LOGOUT</a>
</div>
{% endblock %}